[Desktop Entry]
Type=Application
Name=DiPDF
Comment=PDF reader built with Qt 6
Exec=DiPDF %f
Icon=DiPDF
StartupWMClass=DiPDF
Categories=Office;Viewer;
Terminal=false
MimeType=application/pdf;
